<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <title>Assessment</title>


</head>

<body>
    <div class="container mt-5">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <button type="submit" class="btn btn-dark btn-lg mt-2" value="Submit" id="submit"> Download </button>
        </form>
    </div>
    <form action="/assessment/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="container mt-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Paper Title</th>
                        <th>Paper DOI</th>
                        <th>Paper Author</th>
                        <th>Is this paper meeting your assessment?</th>
                        <th> If no,explain why?</th>

                    </tr>
                </thead>
                {% for abib in bibtex %}
                <tr>
                    <td>{{abib.title}}</td>
                    <td>{{abib.ID}}</td>
                    <td>{{abib.author}}</td>
                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="{{abib.ID}}"
                                    id="yes{{abib.ID}}" value="Yes">Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="{{abib.ID}}"
                                    id="no{{abib.ID}}" value="No">No</label>
                        </div>
                    </td>
                    <td> <input type="text" name="r{{abib.ID}}" id="reasoning_for_no{{abib.ID}}"></td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-dark btn-lg mt-2" value="Submit" id="submit">Submit</button>
        </div>
    </form>


    <br>
    <br>
    <br>
    <hr width="75%">
    <br>
    <br>


    <div class="container mt-5">
        <div class="form-row ">
            <div class="col ml-10">
                Are the goals of the experiment clear?
            </div>
            <div class="col ml-2">

                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="goals" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="goals" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Were the research questions and hypothesis defined?
            </div>
            <div class="col ml-2">

                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="defined" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="defined" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Was there any replication? For example: multiple test objects or multiple test sets?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="replication" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="replication" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Are the study measures valid?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="measures" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="measures" value="No">No
                    </label>
                </div>
                <br>

            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                If the test cases were required by the Test Treatment, how were the test cases generated?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="testcases" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="testcases" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                How were the test objects generated?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="testobjects" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="testobjects" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                How were the faults/modifications found?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="faults" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="faults" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Did the Statistical analysis match the study design?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="statanalysis" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="statanalysis" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Was any sensitivity analysis done to assess whether results were due to a specific test object or a
                specific type of fault/modification?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="sensanalysis" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="sensanalysis" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Were limitations of the study reported either during the explanation of the study design or during the
                discussion of the study results?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="limitations" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="limitations" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Were the findings clearly reported?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="reported" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="reported" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row ">
            <div class="col ml-10">
                Are the findings of value to industry or researchers?

            </div>
            <div class="col ml-2">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="value" value="Yes">Yes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="value" value="No">No
                    </label>
                </div>
                <br>
            </div>
        </div>



    </div>
    <script>
        function feedback() {
            var ans = document.querySelector('input[name="feedback_of_paper"]:checked').value;
            if (ans == 'Yes') { document.getElementById('reasoning_for_no').disabled = true; }
            else {
                document.getElementById('reasoning_for_no').disabled = false;
            }
        }
    </script>
</body>

</html>