<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
        rel="stylesheet" />


    <title>Assessment</title>


</head>

<body>

    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <button type="submit" class="btn btn-dark btn-lg mt-2" value="Submit" id="submit">Download excluded</button>
    </form>
    <ul>
        {% for abib in bibtex %}
        <li>
            <p>{{abib}}</p>
        </li>
        <ol>
            <li>
                Are the goals of the experiment clear
                <input type="checkbox" name="q1yes" value="Yes" class="form-control">Yes
                <input type="checkbox" name="q1no" value="No" class="form-control"><label for="q1no">No</label>
            </li>
        </ol>
        {% endfor %}
    </ul>

    <script>

    </script>
</body>

</html>